table{
    border-collapse: collapse;
    width:500px;
    height: 200px;
    margin: auto;;
}

tr{
    width: 550px;
}
td{
    width:80px;
    text-align: center;
    border: 1px solid green;
}
td:hover{
    background-color:greenyellow
}
